/** @type {import('tailwindcss').Config} */
module.exports = {
  darkMode: 'class', // รองรับ Dark Mode ผ่าน class
  content: [
    "./app/**/*.{js,ts,jsx,tsx,mdx}",
  ],
  theme: {
    extend: {},
  },
  plugins: [],
}